In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/master.csv', parse_dates = ['visit_date'])

In [3]:
df.head()

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [4]:
df['day_of_week'].isin(['wednesday', 'Thursday'])

0         False
1          True
2         False
3         False
4         False
          ...
252103    False
252104    False
252105    False
252106    False
252107    False
Name: day_of_week, Length: 252108, dtype: bool

In [5]:
df['PartofWeek'] = np.where(df['day_of_week'].isin(['Saturday', 'Sunday']), 'Weekend', 'Weekday')

In [6]:
df["PartofWeek"]

0         Weekday
1         Weekday
2         Weekday
3         Weekend
4         Weekday
           ...
252103    Weekday
252104    Weekend
252105    Weekend
252106    Weekday
252107    Weekend
Name: PartofWeek, Length: 252108, dtype: object

In [9]:
conditions = [
    df['visitors'] < 20,
    df['visitors'].between(21, 30),
    df['visitors'] > 30
]

results = [
    'Low Traffic',
    'Medium Traffic',
    'High Traffic'
    
]

df['traffic'] = np.select(conditions, results, 'other')

In [10]:
df.traffic

0         Medium Traffic
1           High Traffic
2         Medium Traffic
3         Medium Traffic
4            Low Traffic
               ...
252103      High Traffic
252104      High Traffic
252105      High Traffic
252106      High Traffic
252107    Medium Traffic
Name: traffic, Length: 252108, dtype: object

In [11]:
def clean_string(value):
    return value.lower().replace("-", "")

In [12]:
clean_string('The Best way-to Clean data')

'the best wayto clean data'

In [ ]:
df